body {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .bg-offblack {
    background-color: #1b1b1b !important;
  }

  .border-offblack {
    border: 2px solid #1b1b1b !important;
  }
  
  .card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  