<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>🎵 Practice Tracker – Log and Visualize Your Practice</title>
    <!--bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap" rel="stylesheet">
    <!-- my css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="bg-light p-5">
    <div class="parallax-bg"></div>
    <!--page header-->
    <div class="page-header">
      <h1 class="mb-0 logo-hover">
        <a href="{{ url_for('home') }}" class="text-decoration-none text-black">🎵 PRACTICE TRACKER</a>
      </h1>
      <nav>
        <!--navigation menu-->
        {% if user.is_authenticated %}
          <a href="{{ url_for('dashboard') }}" class="text-black me-4">Dashboard</a>
          <a href="#" class="text-black me-4">Stats</a>
          <a href="{{ url_for('log_page') }}" class="text-black me-4">Logs</a>
          <a href="{{ url_for('logout') }}" class="text-black me-4">Log Out</a>
        {% else %}
          <a href="#" class="pt-button pt-button-hover me-3" id="loginButton">Log In</a>
          <a href="#" class="pt-button pt-button-hover" id="navSignupButton">Sign Up</a>
        {% endif %}
      </nav>
    </div>
    <!--splash text-->
    <h1 class="hero-title"> PRACTICING HAS NEVER BEEN EASIER </h1>
    <h3 class="hero-subtitle fade-in delay-06"> (...to track) </h3>
    <!--promotion card 1-->
    <div class="card-promo" id="cardPromo1">
      <div class="row g-0">
        <div class="card-promo-image" id="img1">
          <img src="{{ url_for('static', filename='images/shared/treble_clef.svg') }}" class="img-fluid" style="max-height: 150px;" alt="Treble Clef">
        </div>
        <div class="card-promo-text">
          <div class="card-body">
            <h5 class="card-title" id="promoTitle1">CLEAN, SIMPLE, TRACKED</h5>
            <p class="card-text" id="promoTxt1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Promotion Card 2 -->
    <div class="card-promo" id="cardPromo2">
      <div class="row g-0">
        <!-- Text Content -->
        <div class="card-promo-text">
          <div class="card-body text-end">
            <h5 class="card-title" id="promoTitle2">DESIGN IN MIND</h5>
            <p class="card-text" id="promoTxt2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <!-- Image -->
        <div class="card-promo-image p-4" id="img2">
          <img src="{{ url_for('static', filename='images/shared/bass_clef.svg') }}" class="img-fluid" style="max-height: 150px;" alt="Treble Clef">
        </div>
      </div>
    </div>
    <div class="center-flex fade-in delay-12">
      <div class="card-row">
        <div class="card mx-4">
          <img src="{{ url_for('static', filename='images/home/clipboard.png')}}" class="card-img-top mx-auto" style="width:250px;height:250px;" alt="card-group-image">
          <div class="card-body">
            <h5 class="card-title">Clean and Easy Logging</h5>
            <p class="card-text">Logging a practice session has never been easier. No need to add more information than you want- simply log what you played, how long you played it for, and you're done. Review your log anytime to track how often you practice, and add/edit notes as you wish.</p>
          </div>
        </div>
        <div class="card mx-4">
          <img src="{{ url_for('static', filename='images/home/clipboard.png')}}" class="card-center_img-top" style="width:250px;height:250px;" alt="card-group-image">
          <div class="card-body">
            <h5 class="card-title">See Your Progress (literally)</h5>
            <p class="card-text">With robust visual statistics, you can view your habits, progression for pieces, and more. The more details you log about your practice sessions—like tempo, focus areas, and personal notes—the richer and more accurate your progress stats become. Track your growth effortlessly.</p>
          </div>
        </div>
        <div class="card mx-4">
          <img src="{{ url_for('static', filename='images/home/clipboard.png')}}" class="card-center_img-top" style="width:250px;height:250px;" alt="card-group-image">
          <div class="card-body">
            <h5 class="card-title">Tailored For You</h5>
            <p class="card-text">Logging practice sessions builds a personalized dashboard with insights, tips, and trends—all tailored to you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="center-flex fade-in delay-14 mt-5">
      <button class="pt-button" id="signUp" type="button">Sign Up and Start Practicing!</button>
    </div>

    <!-- SIGNUP MODAL (Hidden by default) -->
    <div class="modal-overlay" id="signupModal">
      <form class="modal-content" id="signupModalBox">
        <button class="modal-close" id="signupCloseModal" type="button">&times;</button>
        <h2>SIGN UP</h2>
        <p><em>Welcome. Glad to have you.</p></em>

        <label for="signupUsername">Username</label>
        <input name="username" id="signupUsername" type="text" required>

        <label for="signupPassword">Password</label>
        <input name="password" id="signupPassword" type="password" required>

        <button type="submit" class="modal-btn">Create Account</button>
      </form>
    </div>

    <!-- LOGIN MODAL (Hidden by default) -->
    <div class="modal-overlay" id="loginModal">
      <form action="/login" method="POST" class="modal-content" id="loginModalBox">
        <button class="modal-close" id="loginCloseModal" type="button">&times;</button>
        <h2>LOG IN</h2>
        <p><em>Welcome back. Now, where did we leave off?</em></p>

        <label for="loginUsername">Username</label>
        <input name="username" id="loginUsername" type="text" required>

        <label for="loginPassword">Password</label>
        <input name="password" id="loginPassword" type="password" required>

        <button type="submit" class="modal-btn">Login</button>
      </form>
    </div>
    
    <!-- GSAP core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <!-- split type -->
    <script src="https://unpkg.com/split-type"></script>

    <!-- Logic for this page -->
    <script type="module" src="{{ url_for('static', filename='js/init.js') }}"></script>
    <!-- Animations for this page -->
    <script type="module" src="{{ url_for('static', filename='js/animation/homepage.js') }}"></script>
  </body>
</html>