<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Practice Tracker</title>
  <!--bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <!-- my css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-white p-5">

  <div class="container text-center">
    <h1 class="mb-4">🎵 PRACTICE TRACKER</h1>
    <nav class="mb-4">
    <a href="#">Log Practice</a> |
    <a href="#">Goals</a> |
    <a href="#">Stats</a>
  </nav>

    <div class="border-offblack card mb-4 p-4">
      <h2>Welcome back, Jeremiah!</h2>
      <p>You’ve practiced 145 minutes this week.</p>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="border-offblack card p-3">
          <h3>🎯 Weekly Goal</h3>
          <p>3 hrs – 2 hrs done ✅</p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="border-offblack card p-3">
          <h3>🎼 Etude Challenge</h3>
          <p>Practice Op. 25 #6 – Ongoing</p>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
