<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Practice Tracker</title>
		<!--bootstrap css -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- google font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<!-- my css -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body class="bg-light p-5 page-fade-in">
		<div class="page-header">
			<h1 class="mb-0 logo-hover">
				<a
					href="{{ url_for('main.home') }}"
					class="text-decoration-none text-black"
					>🎵 PRACTICE TRACKER</a
				>
			</h1>
			<nav>
				<!--navigation menu-->
				{% if user.is_authenticated %}
				<a href="{{ url_for('dash.dashboard') }}" class="text-black me-4"
					>Dashboard</a
				>
				<a href="{{ url_for('stats.stats') }}" class="text-black me-4">Stats</a>
				<a href="{{ url_for('auth.logout') }}" class="text-black me-4"
					>Log Out</a
				>
				{% else %}
				<a href="#" class="pt-button pt-button-hover me-3" id="loginButton"
					>Log In</a
				>
				<a href="#" class="pt-button pt-button-hover" id="navSignupButton"
					>Sign Up</a
				>
				{% endif %}
			</nav>
		</div>

		<!-- Log Practice Button -->
		<div>
			<button id="openLogModal" class="btn btn-dark mb-4">Log Practice</button>
			<p class="text-muted mb-4">
				<em>Click the button above to log your practice sessions.</em>
			</p>
		</div>

		<table class="table caption-top table-hover table-bordered">
			<thead class="table-light">
				<tr>
					<th data-sort="id">Log ID #</th>
					<th data-sort="date">Date</th>
					<th data-sort="duration">Duration</th>
					<th data-sort="instrument">Instrument</th>
					<th data-sort="piece">Repertoire</th>
					<th>Composer</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody id="log-table-body">
				<!-- JavaScript will insert rows here -->
			</tbody>
		</table>

		{% if user.logs %}
		<p class="text-muted" style="text-align: center">
			<em>Click on a log entry to view more details.</em>
		</p>
		{% else %}
		<p class="text-muted">
			<em>No practice logs found. Start logging your practice sessions!</em>
		</p>
		{% endif %}

		<div class="modal-overlay" id="logModal">
			<form class="modal-content" id="practiceModalBox">
				<button class="modal-close" id="practiceCloseModal" type="button">
					&times;
				</button>
				<h2>Log Practice Session</h2>
				<p><em>You did a good thing today. Let's record it.</em></p>

				<label class="form-label-row" for="logDate">
					<span class="me-auto">
						When did you practice?
						<span style="color: red">* </span>
					</span>
					<span class="form-label-right">(Date)</span>
				</label>
				<input
					type="datetime-local"
					id="logDate"
					name="date"
					class="mb-3"
					required
				/>

				<label class="form-label-row" for="instrument">
					<span class="me-auto">
						With what?
						<span style="color: red">* </span>
					</span>
					<span class="form-label-right">(Instrument)</span>
				</label>
				<select id="instrument" name="instrument" class="mb-3" required>
					<option value="" disabled selected>Select an instrument</option>
					<optgroup label="Strings">
						<option value="violin">Violin</option>
						<option value="viola">Viola</option>
						<option value="cello">Cello</option>
						<option value="doubleBass">Double Bass</option>
						<option value="harp">Harp</option>
					</optgroup>

					<optgroup label="Woodwinds">
						<option value="piccolo">Piccolo</option>
						<option value="flute">Flute</option>
						<option value="oboe">Oboe</option>
						<option value="englishHorn">English Horn</option>
						<option value="clarinetEb">E♭ Clarinet</option>
						<option value="clarinetBb">B♭ Clarinet</option>
						<option value="bassClarinet">Bass Clarinet</option>
						<option value="contraClarinet">Contrabass Clarinet</option>
						<option value="bassoon">Bassoon</option>
						<option value="contrabassoon">Contrabassoon</option>
					</optgroup>

					<optgroup label="Saxophones">
						<option value="sopranoSax">Soprano Saxophone</option>
						<option value="altoSax">Alto Saxophone</option>
						<option value="tenorSax">Tenor Saxophone</option>
						<option value="baritoneSax">Baritone Saxophone</option>
						<option value="bassSax">Bass Saxophone</option>
					</optgroup>

					<optgroup label="Brass">
						<option value="trumpet">Trumpet</option>
						<option value="cornet">Cornet</option>
						<option value="flugelhorn">Flugelhorn</option>
						<option value="frenchHorn">French Horn</option>
					</optgroup>

					<optgroup label="Low Brass">
						<option value="trombone">Trombone</option>
						<option value="bassTrombone">Bass Trombone</option>
						<option value="euphonium">Euphonium</option>
						<option value="baritoneHorn">Baritone Horn</option>
						<option value="tuba">Tuba</option>
					</optgroup>

					<optgroup label="Percussion">
						<option value="snareDrum">Snare Drum</option>
						<option value="bassDrum">Bass Drum</option>
						<option value="cymbals">Cymbals</option>
						<option value="timpani">Timpani</option>
						<option value="xylophone">Xylophone</option>
						<option value="marimba">Marimba</option>
						<option value="vibraphone">Vibraphone</option>
						<option value="glockenspiel">Glockenspiel</option>
						<option value="drumSet">Drum Set</option>
						<option value="multiPercussion">Multi-Percussion Setup</option>
						<option value="accessoryPercussion">Accessory Percussion</option>
						<option value="percussionOther">Other / Unlisted Percussion</option>
					</optgroup>

					<optgroup label="Other">
						<option value="piano">Piano</option>
						<option value="organ">Organ</option>
						<option value="celesta">Celesta</option>
						<option value="guitar">Guitar</option>
						<option value="electricGuitar">Electric Guitar</option>
						<option value="bassGuitar">Bass Guitar</option>
						<option value="ukulele">Ukulele</option>
						<option value="voice">Voice</option>
						<option value="other">Other</option>
					</optgroup>
				</select>

				<label class="form-label-row" for="piece">
					<span class="me-auto"> Any specific repertoire? </span>
					<span class="form-label-right">(Piece)</span>
				</label>
				<select id="pieceDropdown" class="mb-3">
					<option value="">-- Select a piece --</option>
				</select>
				<input type="text" id="piece" name="piece" class="mb-3" />

				<label class="form-label-row" for="composer" id="composerLabel">
					<span class="me-auto"> By who? </span>
					<span class="form-label-right">(Composer)</span>
				</label>
				<input type="text" id="composerInput" name="composer" class="mb-3" />

				<label class="form-label-row" for="logDuration">
					<span class="me-auto">
						For how long?
						<span style="color: red"> * </span>
					</span>
					<span class="form-label-right">(Duration in mins.)</span>
				</label>
				<input
					type="number"
					id="logDuration"
					name="duration"
					class="mb-3"
					required
					min="1"
				/>

				<label class="form-label-row me-auto" for="logNotes"
					>Anything else you wanna add...?</label
				>
				<textarea
					id="logNotes"
					name="notes"
					placeholder="Optional notes..."
					class="mb-3"
				></textarea>

				<button type="submit" class="modal-btn">Submit</button>
				<button type="button" class="modal-btn" id="closePracticeLogModal">
					Cancel
				</button>
			</form>
		</div>

		<!-- GSAP core -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
		<!-- split type -->
		<script src="https://unpkg.com/split-type"></script>

		<script
			type="module"
			src="{{ url_for('static', filename='js/pages/log.js') }}"
		></script>
	</body>
</html>
